@font-face {
  font-family: "JetBrainsMono";
  src: url('/JetBrainsMono.woff') format('woff');
}

:root {
  --pw: calc(min(80ch, round(down, 100%, 1ch)));
  --bt: 2px;
  --tx: #fff;
  --tx-alt: #aaa;
  --bg: #000;
  --bg-alt: #C48AFF;
  --line-height: 27px;
  --fz: 18px;
  background: var(--bg-alt);
  color: var(--tx);
  font-family: "JetBrainsMono", monospace;
  font-size: var(--fz);
}

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono", monospace;
  font-size: var(--fz);
}

html, body {
  margin: auto;
  height: 100%;
}

body {
  width: 100%;
  max-width: var(--pw);
  line-height: var(--line-height);
  overflow-x: hidden;
  background-color: var(--bg);
  text-align: center;
}

hr {
  background-color: var(--bg-alt);
  height: var(--bt);
  border: 0;
  animation-name: glow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
}

.header {
  height: 3rem;
  display: block;
  font-size: calc(var(--fz) * 3);
}

.title {
  font-size: calc(var(--fz) * 3);
  color: var(--bg-alt);
}

.cubes {
  width: 3rem;
  height: 3rem;
  display: block;
}

.back {
  margin: 0;
  display: block;
  pointer-events: none;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: -1;
  overflow: clip;
  font-size: 2vh;
  line-height: 2vh;
  color: var(--bg);
}

.fr {
  display: block;
  float: right;
}
.fl {
  display: block;
  float: left;
}

.videoc {
  outline: var(--bt) solid var(--bg-alt);
  outline-offset: 5px;
}
.cubes > p {
  animation-name: glow-blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: var(--bg-alt);
  width: 1rem;
  height: 1rem;
  display: block;
  text-shadow: 0 0 0.0rem var(--bg-alt);
}
.title > span {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.cubes.fr > p {
  float: left;
}
.cubes.fl > p {
  float: right;
}
@keyframes glow {
  50% {
	  box-shadow: var(--bg-alt) 0 0 1rem 0.2rem;
	}
}
@keyframes blink {
  50% {
	  color: black;
  }
}
@keyframes glow-blink {
  50% {
	  color: black;
    text-shadow: 0 0 0.4rem var(--bg-alt);
	}
}

.d1u {
  animation-delay: 0.25s;
}
.d2u {
  animation-delay: 0.5s;
}
.d3u {
  animation-delay: 0.75s;
}
.d1f {
  animation-delay: 0.2s;
}
.d2f {
  animation-delay: 0.4s;
}
.d3f {
  animation-delay: 0.6s;
}
.d4f {
  animation-delay: 0.8s;
}
.d5f {
  animation-delay: 1.0s;
}
