@font-face {
  font-family: "JetBrainsMono";
  src: url('/JetBrainsMono.woff') format('woff');
}

:root {
  --pw: calc(min(80ch, round(down, 100%, 1ch)));
  --bt: 2px;
  --tx: #fff;
  --tx-alt: #aaa;
  --bg: #000;
  --bg-alt: #C48AFF;
  background: var(--bg-alt);
  color: var(--tx);
  font-family: "JetBrainsMono", monospace;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono", monospace;
  font-size: 18px;
}

@keyframes blink {
  50% {
	  color:black;
  }
}

html, body {
  margin: auto;
  height: 100%;
}

body {
  width: 100%;
  max-width: var(--pw);
  line-height: var(--line-height);
  overflow-x: hidden;
  background-color: var(--bg);
  text-align: center;
}

.title {
  width: 13ch;
  height: calc(3 * 1.2rem);
  display: block;
  float: center;
  margin-right: auto;
  margin-left: auto;
}

.tbf-r,
.tbf-l {
  width: 50%;
  display: inline-block;
  float: left;
}

.tbf-r {
  text-align: right;
}
.tbf-l {
  text-align: left;
}

.violet {
  color: var(--bg-alt);
}

.blink {
  animation: blink 2s linear infinite;
}

.delay-1u {
  animation-delay: 0.5s;
}
.delay-2u {
  animation-delay: 1s;
}
.delay-3u {
  animation-delay: 1.5s;
}
